
body {

    background-image: url("https://images.unsplash.com/photo-1612538498456-e861df91d4d0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
}

.title{
    color: #0f6674;
}
.float-left{
    margin-left: 25px;
}

.bookWrap {
    margin:25px auto;
    height:346px;
    width:230px;

    position:relative;

    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.book {
    background:#000;
    height:346px;
    width:230px;
    position:absolute;
    left:16px;
    top:0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: -webkit-transform .5s ease 0s;
    -moz-transition: -moz-transform .5s ease 0s;
    transition: transform .5s ease 0s;

    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;

    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.bookIntro {
    -webkit-transform: rotateY(30deg);
    -moz-transform: rotateY(30deg);
    transform: rotateY(30deg);
}

.cover {
    position:absolute;
    left:0;
    top:0;

    height: 100%;
    width: 230px;

    max-width: 230px;
    max-height: 346px;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;

    -webkit-transition: -webkit-transform .5s ease 0s, width .5s ease 0s;
    -moz-transition: -moz-transform .5s ease 0s, width .5s ease 0s;
    transition: transform .5s ease 0s, width .5s ease 0s;

    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    transform-origin: 0;
}

.cover:hover {
    width:210px;

    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
}

.spine {
    background:black;
    width: 40px;
    height: 344px;
    position: absolute;
    top: 0;
    left:0;


    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    transform-origin: 0;
}


.displayBook{
    position: absolute;
    left: 160px;
    top: 100px;
}

.displayTitle{
   position: relative;
    left: 180px;
    top: 50px;
}

.description{
    position: relative;
    left: 210px;
    top: 50px;
}

textarea {
    background-color: transparent;
    border: none;
}



.preview{
    position: absolute;
    float: left;
    left: -400px;
    top: 60px;
}

.oldCover{
    position: absolute;
    float: left;
    left: -400px;
    top: 40px;
}
.newCover{
    position: absolute;
    float: left;
    left: -385px;
    top: 120px;
}

.fileInput{
    position: absolute;
    float: left;
    left: -420px;
    top: 430px;
}
.bookForm{
    position: absolute;
    top: 80px;
    width: 600px;

}

.sort{
    position: absolute;
    top: 10px;
    left: 600px;

}

.search{
    position: absolute;
    top: 10px;
    left: 900px;

}

.showStatus{
    text-align: center;
    position: absolute;
    top: 350px;
    left: 460px;

}

#BtnBorrow{

    position: absolute;
    top: 205px;
    left: 600px;

}

